* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: #000;
    font-size: 16px;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
}

.container {
    width: 94rem;
    margin: 0 auto;
}

section {
    width: 140.4rem;
    margin: 0 auto;
}

.section-img {
    background-image: url("/img/IMAGE.png");
    background-repeat: no-repeat;
}

.versus {
    display: flex;
    justify-content: space-between;
    padding-top: 4.3rem;
    text-align: center;
    margin-bottom: 15.3rem;
}

.versus-h2 h2 {
    font-size: 2.8rem;
    line-height: 3rem;
    color: #ffffff;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.ul-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    font-style: 1.2rem;
    letter-spacing: 0.1em;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 4.8rem;
    line-height: 5.3rem;
    color: #ffffff;
    margin-bottom: 3rem;
}

.portfolio {
    color: #00d6b4;
}

.div-btn {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding-bottom: 20rem;
}

.btn {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 1rem 3rem;
    border: 1px solid 00d6b4;
    width: 16rem;
    text-decoration: none;
    transition: all 0.5s ease;
}

button {
    border: 1px solid #00d6b4;
    background-color: #3f3c37;
}

button .btn {
    color: #00d6b4;
}

.latest {
    background-color: #222222;
    margin-top: -6rem;
}

h3 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr 1fr 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding-bottom: 13.6rem;
}

h6 {
    text-align: center;
    color: #ffffff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: -1rem;
}

footer p {
    text-align: center;
    color: #ffffff;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    padding-bottom: 3rem;
}
